<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>

<div class='title' id='title'><h1>Explore The Countries Of The World</h1></div>

<div id='featuredCard'> </div>

<div class='shuffleButton'>
  <button type='button' id='shuffle'>Shuffle</button>
</div>

<div class='cards' id='cards'>
  <% @cards.each do |card| %>
    <div class='card' id='card' onClick="onClick(this)">
      <%= image_tag(card.flag, :size => '300x200') %>
      <div class='description'>
        <div class='title'><%= card.capital %></div>
        <ul>Capital Of: <strong><%= card.name %></strong></ul>
        <ul>Population: <%= card.population %> </ul>
        <ul>Currency: <%= card.currencies %> </ul>
        <ul>Languages: <%= card.languages %></ul>
        <ul>Date & Time: <%= card.timezones %> </ul>
        <div class='detailsLink'><%= link_to 'Details', card_path(card), method: :get %></div>
      </div>
    </div>
  <% end %>
</div>

<script>
  function onClick(card) {
    document.getElementById('featuredCard').replaceChildren(card.cloneNode(true))
    var mapImage = document.getElementById('featuredCard').getElementsByTagName('img')[0]
    var ele = document.getElementById('title');
    window.scrollTo(ele.offsetLeft,ele.offsetTop);
  }
</script>

